/* [sudo]  edit permission only for: -webkit- browsers */

@import url(https://fonts.googleapis.com/css?family=VT323);

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #00AC64 url('http://media3.giphy.com/media/fJ1eCBjmMoEvu/giphy.gif');
  padding: 40px 20px;
}

head {
  display: block;
  font-family: 'VT323';
  position: relative;
  max-width: 650px;
  margin:auto;
}

head:after {
  content: 'A SECRET TO EXPRESS';
  position: absolute;
  background: #ddd;
  padding: 7px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  color: #666;
  height: 30px;
  top: -15px;
  left: 0px;
  right: 0px;
  z-index: 4;
}

style {
  display: block;
  white-space: pre-wrap;
  width: 100%;
  height: 400px;
  padding: 25px 25px;
  background: rgba(0,0,0,.9);
  border:1px solid;
  border-radius: 4px;
  color: #fff;
  margin: auto;
-webkit-user-drag: element;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  overflow: auto;
  resize: vertical;
  -webkit-user-modify: read-write;
}
style:first-line{
  color: #009F00;
  line-height: 3;
}
style:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: #F95151;
  z-index: 5;
  top: -5px;
  left: 10px;
  border-radius: 100%;
  box-shadow: 20px 0 0 0 #FFB400, 40px 0 0 0 #96D46F;
}

style::-webkit-scrollbar {
  width: 5px;
}

style:after {
  content: '|';
  animation: caret 1s infinite;
  opacity: 0;
}
style:focus{
  outline: none;
}
style:focus:after {
  animation: none;
}

style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

style::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

@keyframes caret {
  50% {
    opacity: 1;
  }
}
@keyframes color-change {
  0% { background: #E94B35 ;}
  20%{background: #009DDC;}
  40% {background: #50B949;}
  70% {background: #EE2D24;}
  80% { background: #FEB825;}
  100% { background: #E94B35;}
  
}

/*___Change Body style on Teminal__*/

body{
  width: 340px;
  height: 180px;
  border:10px solid #34485E;
  background: yellow;
  animation: color-change 6s linear .2s infinite;
  margin: 25px auto 0;
  text-align: center;
  box-shadow: 0 2px 10px;
  border-radius: 8px 8px 0 0;
  position: relative;

}
body:after{
  content: 'LOAN À, LÀM NGƯỜI YÊU ANH NHÉ !' ;
  font-weight: 800;
  font-size: 22px;
  display: block;
  color:#fff;
  margin-top: 50px;
}
body:before{
  content: '';
  position: absolute;
  height: 15px;
  left: -50px;
  right: -50px;
  background: #D7D7D7;
  bottom: -25px;
  border-radius:0 0 10px 10px ;
}